# Mark generated protobuf files to be collapsed by default in PRs
# See: https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
*_pb2.py        linguist-generated=true
*_pb2.pyi       linguist-generated=true
