.idea/
out/
__pycache__/
compile_commands.json
.pytest_cache/
cache.txt
cmake-build-debug
.ipynb_checkpoints
CMakeFiles
CMakeCache.txt
.ninja_deps
.ninja_log
cmake_install.cmake
build.ninja
.cmake
Temporary
perf.data
perf.data.old
bazel-bin
bazel-kickmix
bazel-out
bazel-testlogs
MODULE.bazel.lock
.bazelrc

tmp.kmb
tmp.kmx
tmp.html
tmp1.html
tmp2.html
tmp3.html
tmp4.html
tmp.svg
tmp2.svg
tmp3.svg
tmp4.svg
tmp5.svg
tmp6.svg
tmp.csv
tmp.png
tmp.py
tmp2.csv
tmp.cc
tmp.s
*.swp
.ninja_lock
