[MASTER]
load-plugins=pylint.extensions.docstyle,pylint.extensions.docparams,pylint_copyright_checker
max-line-length=100
ignore-patterns=.*_pb2\.py
output-format=colorized
score=no
reports=no
disable=
    invalid-name
    unused-variable
    missing-function-docstring
    protected-access
    import-outside-toplevel
    too-few-public-methods
    missing-raises-doc
    import-outside-toplevel
    line-too-long

# Ignore long lines containing urls or pylint directives.
ignore-long-lines=^(.*#\w*pylint: disable.*|\s*(# )?[<\[\(]?https?://\S+[>\]\)]?)$

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
# generated-members=numpy.*


