[MASTER]
load-plugins=pylint.extensions.docstyle,pylint.extensions.docparams,pylint_copyright_checker
max-line-length=100
ignore-patterns=.*_pb2\.py
output-format=colorized
score=no
reports=no
py-version=3.9
disable=
    C,
    R,
    missing-raises-doc,
    unused-variable,
    arguments-differ,
    unused-argument,
    fixme,
    unspecified-encoding,
    not-an-iterable,         # buggy with attrs
    unsubscriptable-object,  # buggy with attrs
    not-callable,            # buggy with attrs
    no-member,               # buggy with attrs
    reimported,              # often relevant for 'autodoc' functionality
    import-self,             # often relevant for 'autodoc' functionality
    redefined-outer-name,    # tiggered by re-importing
    abstract-method,         # cirq's @value.alternative not respected
    protected-access,        # a lot of usages in tests
    redundant-returns-doc
enable=
    wrong-or-nonexistent-copyright-notice

extension-pkg-whitelist=numpy

# Ignore long lines containing urls or pylint directives.
ignore-long-lines=^(.*#\w*pylint: disable.*|\s*(# )?[<\[\(]?https?://\S+[>\]\)]?)$
