body {
    background-color: rgb(243, 249, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    border: solid black;
}

rect.binstbox{
    fill: rgb(226, 232, 237);
}

text.soqlabel {
    fill: black;
    dominant-baseline: middle;
}

.soqcircle {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

text.binstlabel {
    text-anchor: middle;
    dominant-baseline: hanging;
    font-size: 12pt;
    fill: darkred;
}